body{
    background-color: #222222 !important;
    min-width: 380px;
    padding-bottom: 2rem;
}


#__next{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    height: 100%;
}